.App {
	text-align: center;
	min-height: 100vh;
	width: 100vw;
	display: relative;
}
body {
	overflow: hidden;
	font-family: Helvetica, sans-serif;
	min-height: 100vh;
}

html {
	overflow: scroll;
	scroll-behavior: smooth;
	overscroll-behavior-y: none;

}


